a{
  text-decoration:none;
}
a:visited{
  color:inherit;
}
*{
  margin:0;
  user-select:none;
}
html{
  font-family: 'Roboto Condensed', sans-serif;
}

#header{
  background-color:rgb(206, 24, 24);
  width:auto;
  height:6.5vh;
  display:flex;
  align-items:center;
  justify-content: center;
  font-size:4vh;
  color:white;
}

#content{
  width:auto;
  height:auto;
  height:82vh;

}

#footer{
  background-color:rgb(206, 24, 24);
  width:auto;
  color:white;
  height:3.5vh;
  display:flex;
  align-items:center;
  justify-content: center;
  font-size:2vh;
}
.centerMe{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap:5%;
}

h1{
  font-size:7vh;
}
#scoreBoard{
  height:8vh;
  width:auto;
  display:flex;
  align-items: center;
  justify-content: center;
  gap:5%;
  font-size:3.5vh;
}

.mainScreen{
  height:82vh;
}

.mainScreen button{
  box-sizing:border-box;
  font-size:5vh;
  padding:3%;
  background-color: white;
  transition:all 0.2s;
}
.mainScreen button:hover{
  background-color:black;
  color:white;
}
#scoreBoard button{
  background-color: inherit;
  background:none;
  font:inherit;
  font-size:inherit;
  transition:all 0.2s;
}
#scoreBoard button:hover{
  background-color: black;
  color:white;
}


